<mat-toolbar color="primary">
    <button (click)="drawer.toggle()"
            mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="title" routerLink="home">Ñeros Delivery</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="signOut()">Salir</button>
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer class="menu" #drawer mode="push">
        <ul *ngIf="isBusiness$ | async">
            <li><a routerLink="profile/123">Profile</a></li>
            <li><a routerLink="deliveries/new">Nueva entrega</a></li>
            <li><a routerLink="deliveries">Entregas</a></li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
