<div class="container">
    <form class="login-card">
        <mat-card>
            <h1>Login - Nero Delivery</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="enter your username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Write your password">
            </mat-form-field>
            <button mat-button color="primary">Login</button>
        </mat-card>
    </form>
</div>
