.example-full-width {
  flex-direction: column;
  max-width: 500px;
}

mat-form-field {
  width: 100%;
}

.text-area {
  max-width: 350px;

  textarea {
    height: 100px;
  }
}

.flex-adaptive {
  display: flex;
  flex-wrap: wrap;
  mat-form-field {
    flex: 1;
    flex-direction: column;
    margin-right: .5em;
  }
}

.card-title {
  margin: 3em 0;
}
.group {
  padding: 2em 0;
}

